body{
    margin: 3%;
    background-color: rgb(10,10,10);
    color: white;
    font-family: Nunito;
}
.warning{
    color: rgb(255,100,100);
}
a{
    color:rgb(168,180,255);
    background-color: rgb(30,30,120);
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    transition: ease 0.4s;
}
a :hover{
    color: rgb(200,240,255);
}
h1{
    font-size:350%;
    margin: 4%;
    text-align: center;
}
code{
    font-family: Ubuntu Mono;
    background-color: rgb(40,40,80);
    padding: 1%;
    border-radius: 3px;
}
.Ethernet{
    display:none;
}
.wifi{
    display:none;
}
button{
    font-family: Nunito;
    background-color: rgb(40,40,120);
    color:white;
    transition:ease 0.2s;
}
button :hover{
    background-color: rgb(50,50,160);
}